---
import Main from "../layouts/Main.astro";

import { formattedGalleryCollection } from "../utils/formattedGallery";

export function getStaticPaths() {
  const imagePath = formattedGalleryCollection.map((o) => {
    return {
      params: {
        image: o.slug,
      },
    };
  });
  return imagePath;
}

const { image } = Astro.params;
---

<Main>
  <div>Good dog, {image}!</div>
</Main>
