---
import Main from "../layouts/Main.astro";
import SingleImage from "../components/SingleImage";

import { formattedGalleryCollection } from "../utils/formattedGallery";

export function getStaticPaths() {
  const imagePath = formattedGalleryCollection.map((o) => {
    return {
      params: {
        image: o.slug,
      },
    };
  });
  return imagePath;
}

const { image } = Astro.params;

const imageObj = formattedGalleryCollection.find((o) => o.slug === image);
---

<Main title={imageObj != undefined ? imageObj.title : "View Image"}>
  <SingleImage slug={image} client:load />
</Main>
