---
import NavLinksBar from "./header/NavLinksBar";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<NavLinksBar title={title} client:load />
<div class="text-center my-6 text-gray-800 hover:text-gray-900">
  <div class="font-lobster text-4xl font-bold mb-6">
    <a href="/">Through My Eyes</a>
  </div>
</div>
